# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target/
/*.iml
/germes-model/germes-model.iml
/germes-model/target/
/germes-presentation/germes-presentation.iml
/germes-presentation/target/
/germes-persistence/germes-persistence.iml
/germes-persistence/target/
/germes-service/germes-service.iml
/germes-service/target/


