# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
/target/
/*.iml
/germes-model/germes-model.iml
/germes-model/target/
/germes-presentation/germes-presentation.iml
/germes-presentation/target/
/germes-persistence/germes-persistence.iml
/germes-persistence/target/
/germes-service/germes-service.iml
/germes-service/target/
/germes-service/service.log
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/germes-presentation/build/
/gradle/wrapper/
/gradle/
/service.log
/germes-model/build/
/germes-service/build/
/germes-model/out/
/germes-service/out/
/germes-persistence/out/
